mixin clientes(foto)
	.col-xs-12.col-sm-4.col-md-2
		img(src="assets/images/client#{foto}.jpg")

mixin blog(foto)
	.col-md-3
		img(src="assets/images/blog#{foto}.jpg")
		p.titulo-blog THE SAMPLE HEADING TITLE
		p.fecha 27/11/2015
		p.contenido-blog  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do...
		p.read Read more...



